<!doctype html>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="utf-8">
    <title>JUnit Performance Report</title>

</head>
<body style='font-family:Verdana;'>
<center>
    <h1 style='color:#044e9b'>JUnit Performance Report</h1>
        <hr/>
        <br/>
        <table border='1' cellspacing='0' cellpadding='3px' style='border-color:#eee'>
            <tr>
                <th style='background-color:#ffffdd; color:#044e9b'>&nbsp;&nbsp;&nbsp;</th>
                <th style='background-color:#ffffdd; color:#044e9b'>Tests</th>
            <tr>

             {% for context in contextData %}
                <tr>
                    <!-- Success: #2b67a4 failure: #d9534f -->
                    <td style='background-color:{{ (context.isSuccessful) ? "#2b67a4" : "#d9534f" }};'>&nbsp;</td>
                    <td><a href='#{{ context.testName }}'>{{ context.testName }}</td>
                <tr>
             {% endfor %}
        </table>
        <br/>
        <hr/>


        {% for context in contextData %}
        <a name='{{ context.testName }}'><h2 style='color:#2b67a4'>{{ context.testName }}</h2></a>
        <table width='970'>
            <tr>
                <td>
                    <!-- ADD scatter Chart here!! -->
                    <script type="text/javascript">
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);
                        google.charts.setOnLoadCallback(setCsvExportLink);

                        function drawChart() {

                            var data = google.visualization.arrayToDataTable([
                                ['Percentile', 'Latency', { role: "tooltip"} ],
                                {% for i in [1..99] %}
                                [ {{ i }}, {{ context.statistics.getLatencyPercentile(i, milliseconds) }}, "{{ i }}% of executions ≤ {{ number_format(context.statistics.getLatencyPercentile(i, milliseconds), 2, '.', ',') }}ms"],
                                {% endfor %}
                            ]);

                            var options = {
                                title: 'Latency percentile Distribution',
                                hAxis: {
                                    title: 'Percentile',
                                    minValue: 0,
                                    maxValue: 100,
                                    viewWindow: {
                                        min: 0,
                                        max: 100
                                    }
                                },
                                vAxis: {title: 'Latency', minValue: 0, maxValue: 15},
                                legend: 'none',
                                lineWidth: 1,
                                pointSize: 7,
                                dataOpacity: 0.5
                            };

                            var chart = new google.visualization.ScatterChart(document.getElementById('{{ context.testName }}'));

                            chart.draw(data, options);
                        }

                        function setCsvExportLink() {
                            var csvData = google.visualization.arrayToDataTable([
                                ['Percentile', 'Latency'],
                                {% for i in [1..100] %}
                                [ {{ i }}, {{ context.statistics.getLatencyPercentile(i, milliseconds) }} ],
                                {% endfor %}
                            ]);
                            var csvFormattedDataTable = google.visualization.dataTableToCsv(csvData);
                            var encodedUri = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csvFormattedDataTable);
                            var link = document.getElementById('Export-{{ context.testName }}')
                            link.href=encodedUri;
                            link.download = '{{ context.testName }}.csv';
                            link.target = '_blank';
                        }

                    </script>
                    <div id="{{ context.testName }}" style="width: 600px; height: 400px;"></div>
                    <a id="Export-{{ context.testName }}" href="#" style="margin-left: 230px;">Download as csv</a>
                </td>
                <td>
                    <table style='font-family:sans-serif;'>
                        <tr><th>Started at:</th><td colspan='2'><b>{{ context.startTime }}</b></td></tr>
                        <tr>
                            <th align='right' valign='top'>Invocations:</th>
                            <td align='right'>{{ number_format(context.statistics.evaluationCount, 0, ".", ",") }}</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            <th align='right' valign='top'>- Success:</th>
                            <td align='right'>{{ number_format(context.statistics.evaluationCount - context.statistics.errorCount, 0, ".", ",") }}</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            {% set colour = (context.isErrorThresholdAchieved) ? "#2b67a4" : "#d9534f" %}
                            <th align='right' valign='top'><b style='color:{{ colour }}'>- Errors:</b></th>
                            <td align='right'><b style='color:{{ colour }}'>{{ number_format(context.statistics.errorCount, 0, ".", ",") }}</b></td>
                            <td align='right'><b style='color:{{ colour }};'>{{ number_format(context.statistics.errorPercentage, 2, ".", ",") }}%</b></td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <th align='right' valign='top'>Thread Count:</th>
                            <td align='right'>{{ context.configuredThreads }}</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            <th align='right' valign='top'>Warm up:</th>
                            <td align='right'>{{ number_format(context.configuredWarmUp, 0, ".", ",") }} ms</td>
                            <td align='right'></td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr valign='top'>
                            <th>&nbsp;</th>
                            <th>Measured<br/>(system)</th>
                            <th>Required</th>
                        </tr>
                        <tr>
                            <th align='right' valign='top'>Execution time:</th>
                            <td align='right'>{{ number_format(context.configuredDuration, 0, ".", ",") }} ms</td>
                            <td align='right'></td>
                        </tr>
                        <tr>
                            {% set colour = (context.isThroughputAchieved) ? "#2b67a4" : "#d9534f" %}
                            <th align='right' valign='top'><b style='color:{{ colour }}'>Throughput:</b></th>
                            <td align='right'><b style='color:{{ colour }};'>{{ number_format(context.getThroughputQps, 0, ".", ",") }} / s</b></td>
                            <td align='right'><b style='color:{{ colour }};'>{{ number_format(context.requiredThroughput, 0, ".", ",") }} / s</b></td>
                        </tr>
                        <tr>
                            {% set colour = (context.isMinLatencyAchieved) ? "#2b67a4" : "#d9534f" %}
                            <th align='right' valign='top'><b style='color:{{ colour }}'>Min latency:</b></th>
                            <td align='right'><b style='color:{{ colour }}'>{{ number_format(context.statistics.getMinLatency(milliseconds), 2, ".", " ") }} ms</b></td>
                            {% set minLatency = (context.requiredMinLatency < 0) ? "N/A" :number_format(context.requiredMinLatency, 2, ".", " ") %}
                            <td align='right'><b style='color:{{ colour }}'>{{ minLatency }} ms</b></td>
                        </tr>
                        <tr>
                            {% set colour = (context.isMeanLatencyAchieved) ? "#2b67a4" : "#d9534f" %}
                            <th align='right' valign='top'><b style='color:{{ colour }}'>Average latency:</b></th>
                            <td align='right'><b style='color:{{ colour }}'>{{ number_format(context.statistics.getMeanLatency(milliseconds), 2, ".", " ") }} ms</b></td>
                            {% set meanLatency = (context.requiredMeanLatency < 0) ? "N/A" :number_format(context.requiredMeanLatency, 2, ".", " ") %}
                            <td align='right'><b style='color:{{ colour }}'>{{ meanLatency }} ms</b></td>
                        </tr>

                        {% for percentile, target in context.requiredPercentiles %}
                        <tr>
                            {% for i in [percentile .. percentile] %} <!-- HACK to get parameter passed to function -->
                            {% set colour = (context.getPercentileResults().get(i)) ? "#2b67a4" : "#d9534f" %}
                            <th align='right' valign='top'><b style='color:{{ colour }}'>{{ percentile }}:</b></th>
                            <td align='right'><b style='color:{{ colour }};'>{{ number_format(context.statistics.getLatencyPercentile(i, milliseconds), 2, ".", ",") }} ms</b></td>
                            <td align='right'><b style='color:{{ colour }}'>{{ number_format(target, 2, ".", ",") }} ms</b></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            {% set colour = (context.isMaxLatencyAchieved) ? "#2b67a4" : "#d9534f" %}
                            <th align='right' valign='top'><b style='color:{{ colour }}'>Max latency:</b></th>
                            <td align='right'><b style='color:{{ colour }}'>{{ number_format(context.statistics.getMaxLatency(milliseconds), 2, ".", ",") }} ms</b></td>
                            {% set maxLatency = (context.requiredMaxLatency < 0) ? "N/A" :number_format(context.requiredMaxLatency, 2, ".", " ") %}
                            <td align='right'><b style='color:{{ colour }}'>{{ maxLatency }} ms</b></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br/>
        <br/><br/><br/>
        {% endfor %}
        <hr/>
        <div style='color:#044e9b;'>Report created by <a href='https://github.com/noconnor/JUnitPerf'>JunitPerf</a> </div>
</center>
</body>
</html>
